@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}
h1::before {
  content: "";
  height: 33px;
  width: 33px;
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  top: 8px;
  left: 0;
  background-color: #4a90e2;
}
h1::after {
  content: "";
  height: 33px;
  width: 33px;
  position: absolute;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 8px;
  right: 0;
  background-color: #4a90e2;
}
